<!DOCTYPE html>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a class="nav-link" routerLink="/">Home</a></li>
      <span *ngIf="!valid"><li class="nav-item"><a class="nav-link" routerLink="login">Login</a></li></span>
      <span *ngIf="valid && role=='super' || role=='admin'"><li class="nav-item"><a class="nav-link" routerLink="admin">Admin</a></li></span>
      <span *ngIf="valid"><li class="nav-item"><a class="nav-link" routerLink="groups">Groups</a></li></span>
      <span *ngIf="valid"><li class="nav-item"><a class="nav-link" (click)="logout()" routerLink="/">Logout</a></li></span>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
