<p>Welcome {{username}}!</p>

<table class="table table-bordered table-striped">
    <ng-container *ngFor="let channel of channels">
        <th class="thead-dark">{{ channel.cName }}</th>
        <button type="button" (click)="openChannel(channel.chanID)">Open</button>
        <button type="button" (click)="deleteChannel(channel.chanID)">Delete</button>
    </ng-container>
</table>

<ng-container *ngIf="role === 'super' || role ==='admin'">
    <form>
        <h3>Create a New Channel</h3>
        <div class="form-group">
            <label class="form-label" for="channelName">Channel Name</label>
            <input type="text" [(ngModel)]="channelName" name="channelName" class="form-control" />
        </div>
        <button class="btn btn-primary" type="button" (click)="addChannel()">Create Channel</button>
    </form>
</ng-container>

<ng-container *ngIf="role === 'super' || role ==='admin'">
    <form>
        <h3>Add User to Group</h3>
        <div class="form-group">
            <label class="form-label" for="addedUser">Select User</label>
            <select class="form-control" [(ngModel)]="addedUser" name="addedUser">
                <option *ngFor="let user of addUsers" value="{{user}}">
                    {{user}}
                </option>
            </select>
        </div>
        <button class="btn btn-primary" type="button" (click)="addUser()">Add</button>
    </form>
</ng-container>

<ng-container *ngIf="role === 'super' || role ==='admin'">
    <form>
        <h3>Remove User From Group</h3>
        <div class="form-group">
            <label class="form-label" for="removedUser">Select User</label>
            <select class="form-control" [(ngModel)]="removedUser" name="removedUser">
                <option *ngFor="let user of removeUsers" value="{{user}}">
                    {{user}}
                </option>
            </select>
        </div>
        <button class="btn btn-primary" type="button" (click)="removeUser()">Remove</button>
    </form>
</ng-container>

<ng-container *ngIf="role === 'super' || role ==='admin'">
    <form>
        <h3>Add Assistant to Group</h3>
        <div class="form-group">
            <label class="form-label" for="addedAssistant">Select User</label>
            <select class="form-control" [(ngModel)]="addedAssistant" name="addedAssistant">
                <option *ngFor="let user of nonAssistants" value="{{user}}">
                    {{user}}
                </option>
            </select>
        </div>
        <button class="btn btn-primary" type="button" (click)="addAssistant()">Add</button>
    </form>
</ng-container>

<ng-container *ngIf="role === 'super' || role ==='admin'">
    <form>
        <h3>Remove Assistant From Group</h3>
        <div class="form-group">
            <label class="form-label" for="removedAssistant">Select User</label>
            <select class="form-control" [(ngModel)]="removedAssistant" name="removedAssistant">
                <option *ngFor="let user of assistants" value="{{user}}">
                    {{user}}
                </option>
            </select>
        </div>
        <button class="btn btn-primary" type="button" (click)="removeAssistant()">Remove</button>
    </form>
</ng-container>
