<!--<ng-container *ngIf="groups channel">
        <p *ngIf="groups">{{groups[groupNumber].gName}}</p>
        <p *ngIf="channel">{{channel.cName}}</p>

        <h2 *ngIf="groups">Welcome to {{groups[groupNumber].gName}}, {{channel.cName}}</h2>
</ng-container>-->

<!--<ng-container *ngIf="groups channel">
    <div>
        <h2>{{ groups[groupNumber].gName }} - {{ channel.cName }}</h2>
        <ng-container *ngFor="let message of channel.messages">
            <p>{{ message.user }}: {{ message.message }}</p>
        </ng-container>
        <input type="uMessage" [(ngModel)]="newMes"
    </div>
</ng-container>-->