<p>Welcome {{username}}!</p>

<table class="table table-bordered table-striped">
    <tr>
        <th class="thead-dark">{{ group.gName }}</th>
    </tr>
    <ng-container *ngFor="let channel of group.channel">
        <tr>
            <td>{{ channel.cName }}</td>
        </tr>
        <button type="button" (click)="deleteChannel(channel.cName)" class="btn btn-danger">Delete Channel</button>
    </ng-container>
</table>
<div class="container">
    <form>
        <h4>Add Channel</h4>
        <div class="form-group">
            <label class="form-label" for="channelName">Channel Name</label>
            <input type="text" [(ngModel)]="channelName" name="channelName" class="form-control" />
        </div>
        <button class="btn btn-primary" type="button" (click)="addChannel()">Add Channel</button>
    </form>
    <button type="button" (click)="deleteGroup(group.gName)" class="btn btn-danger">Delete Group</button>
</div>