<p>Welcome {{username}}!</p>

<table class="table table-bordered table-striped">
    <ng-container *ngFor="let group of groups">
        <tr>
            <th class="thead-dark">{{ group.gName }}</th>
            <button type="button" (click)="openGroup(group.ID)">Open</button>
            <button *ngIf="role === 'super' || role === 'admin'" type="button" (click)="deleteGroup(group.ID)">Delete</button>
        </tr>
    </ng-container>
</table>

<ng-container *ngIf="role === 'super' || role ==='admin'">
    <form>
        <h3>Create a New Group</h3>
        <div class="form-group">
            <label class="form-label" for="groupName">Group Name</label>
            <input type="text" [(ngModel)]="groupName" name="groupName" class="form-control" />
        </div>
        <button class="btn btn-primary" type="button" (click)="addGroup()">Create Group</button>
    </form>
</ng-container>